---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-statsd-exporter
  namespace: monitoring
spec:
  type: ClusterIP
  ports:
  - port: 9102
    targetPort: 9102
    protocol: TCP
    name: metrics
  - port: 9125
    targetPort: 9125
    protocol: UDP
    name: statsd
  selector:
    app: statsd-exporter
