---
apiVersion: v1
kind: ConfigMap
metadata:
  name: statsd-mapping-config
  namespace: monitoring
data:
  statsd-mapping.yml: |
    mappings:
      - match: "airflow.*.*.*.operator_successes_*"
        name: "airflow_operator_successes"
        labels:
          dag_id: "$1"
          task_id: "$2"
          operator: "$4"
      - match: "airflow.*.*.*.operator_failures_*"
        name: "airflow_operator_failures"
        labels:
          dag_id: "$1"
          task_id: "$2"
          operator: "$4"
      - match: "airflow.dag_processing.last_duration.*"
        name: "airflow_dag_processing_last_duration"
        labels:
          dag_file: "$1"
      - match: "airflow.dag_processing.last_run.seconds_ago.*"
        name: "airflow_dag_processing_last_run_seconds_ago"
        labels:
          dag_file: "$1"
      - match: "airflow.scheduler.heartbeat"
        name: "airflow_scheduler_heartbeat"
      - match: "airflow.scheduler_heartbeat"
        name: "airflow_scheduler_heartbeat"
      - match: "airflow.dag.*.*.duration"
        name: "airflow_dag_task_duration"
        labels:
          dag_id: "$1"
          task_id: "$2"
      - match: "airflow.dag_processing.total_parse_time"
        name: "airflow_dag_processing_total_parse_time"
      - match: "airflow.dagrun.*.first_task_scheduling_delay"
        name: "airflow_dagrun_first_task_scheduling_delay"
        labels:
          dag_id: "$1"
      - match: "airflow.pool.open_slots.*"
        name: "airflow_pool_open_slots"
        labels:
          pool_name: "$1"
      - match: "airflow.pool.used_slots.*"
        name: "airflow_pool_used_slots"
        labels:
          pool_name: "$1"
      - match: "airflow.pool.starving_tasks.*"
        name: "airflow_pool_starving_tasks"
        labels:
          pool_name: "$1"
      - match: "airflow.executor.open_slots"
        name: "airflow_executor_open_slots"
      - match: "airflow.executor.queued_tasks"
        name: "airflow_executor_queued_tasks"
      - match: "airflow.executor.running_tasks"
        name: "airflow_executor_running_tasks"
