---
apiVersion: v1
kind: Namespace
metadata:
  name: airflow
  labels:
    name: airflow
---
apiVersion: v1
kind: Namespace
metadata:
  name: database
  labels:
    name: database
---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
  labels:
    name: monitoring
